<p id="notice"><%= notice %></p>

<head>
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans+Condensed:300|Montserrat" rel="stylesheet">

</head>
<body>
  <div class="bcrumbs-wrapper">
  <ul class="bcrumbs">
  </ul>
  </div>
<div class="posts-wrapper">
  <ul class="postRow">
    <% @articles.each do |article| %>

  <li class="post"> 
      <div class="image" id="<?=$post['type']?>">
        <div class="image-mask-cover">
          <div class="image-mask"></div>
        </div>
        <h2 class="post-title"><%= article.title %></h2>
        
      </div>
      <div class="post-content">
        <div class="post-content-text"><td><%= article.content %></td></div>
        <%= link_to "Читать", article, class:'readmore show'  %>
      </div>
      </li>
    <% end %>
  </ul> 
</div>
</body>
<% if user_signed_in? %>
<% if current_user.id==1 %>
  


<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.image %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
<% end %>
<% end %>
